<a href="https://colab.research.google.com/github/brooksburkhead/capstone-project/blob/main/Data_Cleaning_and_Some_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Load the Data

In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd

In [2]:
file_path = '/content/drive/MyDrive/raw_ebird_data_sample.txt' #mounted my drive to notebook, loaded data from drive
df = pd.read_csv(file_path, delimiter = '\t', header = None)
df

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
0,URN:CornellLabOfOrnithology:EBIRD:OBS21257524,2022-12-21 15:09:49.594028,505,species,avibase-85625D75,Mallard,Anas platyrhynchos,NaN,NaN,NaN,...,NaN,2.0,0,NaN,0,1,0,NaN,NaN,NaN
1,URN:CornellLabOfOrnithology:EBIRD:OBS21257521,2022-12-21 15:09:49.594028,23564,species,avibase-94A1C447,Bank Swallow,Riparia riparia,NaN,NaN,NaN,...,NaN,2.0,0,NaN,0,1,1,NaN,NaN,Bank Swallow seems a bit late
2,URN:CornellLabOfOrnithology:EBIRD:OBS377845261,2018-05-20 17:56:41,33451,species,avibase-67B455A7,Black-throated Blue Warbler,Setophaga caerulescens,NaN,NaN,NaN,...,NaN,NaN,0,NaN,0,1,1,NaN,NaN,Chase; seen and documented by others
3,URN:CornellLabOfOrnithology:EBIRD:OBS27061959,2018-05-20 17:56:41,20805,species,avibase-EC9E9745,Woodhouse's Scrub-Jay,Aphelocoma woodhouseii,NaN,NaN,NaN,...,NaN,1.0,0,NaN,0,1,0,NaN,NaN,NaN
4,URN:CornellLabOfOrnithology:EBIRD:OBS815681738,2019-10-12 16:30:27,33309,species,avibase-A97F14D0,Virginia's Warbler,Leiothlypis virginiae,NaN,NaN,NaN,...,NaN,1.0,1,NaN,0,1,0,NaN,With Barry Spicer (not a birder). Dry stream w...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,URN:CornellLabOfOrnithology:EBIRD:OBS28062463,2012-10-07 23:48:52,7565,species,avibase-1327AC55,Osprey,Pandion haliaetus,NaN,NaN,NaN,...,NaN,3.0,0,NaN,0,1,0,NaN,NaN,NaN
99996,URN:CornellLabOfOrnithology:EBIRD:OBS28062895,2013-09-11 14:16:52,724,species,avibase-675EEA7F,Ruddy Duck,Oxyura jamaicensis,NaN,NaN,NaN,...,NaN,2.0,1,NaN,0,1,0,NaN,One Forster''s tern with prominent black eye p...,NaN
99997,URN:CornellLabOfOrnithology:EBIRD:OBS28057391,2021-04-01 10:37:20.298005,23704,species,avibase-F5C181CA,Cliff Swallow,Petrochelidon pyrrhonota,NaN,NaN,NaN,...,NaN,2.0,1,NaN,0,1,0,NaN,NaN,NaN
99998,URN:CornellLabOfOrnithology:EBIRD:OBS28056780,2012-10-07 23:48:52,1834,species,avibase-32DCEC14,Eared Grebe,Podiceps nigricollis,NaN,NaN,NaN,...,NaN,2.0,0,NaN,0,1,0,NaN,NaN,NaN
99999,URN:CornellLabOfOrnithology:EBIRD:OBS28062591,2012-10-07 23:48:52,6461,issf,avibase-69E83944,Iceland Gull,Larus glaucoides,Iceland Gull (Thayer's),Larus glaucoides thayeri,NaN,...,NaN,2.0,0,NaN,0,1,1,NaN,Darker first-winter Thayer''s gull in Lion''s ...,NaN

## Take Care of Missing Column Headers

In [3]:
with open("/content/drive/MyDrive/headers.txt", "r") as headers:
	lines = headers.readlines()
lines

['GLOBAL UNIQUE IDENTIFIER\tLAST EDITED DATE\tTAXONOMIC ORDER\tCATEGORY\tTAXON CONCEPT ID\tCOMMON NAME\tSCIENTIFIC NAME\tSUBSPECIES COMMON NAME\tSUBSPECIES SCIENTIFIC NAME\tEXOTIC CODE\tOBSERVATION COUNT\tBREEDING CODE\tBREEDING CATEGORY\tBEHAVIOR CODE\tAGE/SEX\tCOUNTRY\tCOUNTRY CODE\tSTATE\tSTATE CODE\tCOUNTY\tCOUNTY CODE\tIBA CODE\tBCR CODE\tUSFWS CODE\tATLAS BLOCK\tLOCALITY\tLOCALITY ID\tLOCALITY TYPE\tLATITUDE\tLONGITUDE\tOBSERVATION DATE\tTIME OBSERVATIONS STARTED\tOBSERVER ID\tSAMPLING EVENT IDENTIFIER\tPROTOCOL TYPE\tPROTOCOL CODE\tPROJECT CODE\tDURATION MINUTES\tEFFORT DISTANCE KM\tEFFORT AREA HA\tNUMBER OBSERVERS\tALL SPECIES REPORTED\tGROUP IDENTIFIER\tHAS MEDIA\tAPPROVED\tREVIEWED\tREASON\tTRIP COMMENTS\tSPECIES COMMENTS\n']

In [4]:
col_names = lines[0].strip().split('\t')
col_names

['GLOBAL UNIQUE IDENTIFIER',
 'LAST EDITED DATE',
 'TAXONOMIC ORDER',
 'CATEGORY',
 'TAXON CONCEPT ID',
 'COMMON NAME',
 'SCIENTIFIC NAME',
 'SUBSPECIES COMMON NAME',
 'SUBSPECIES SCIENTIFIC NAME',
 'EXOTIC CODE',
 'OBSERVATION COUNT',
 'BREEDING CODE',
 'BREEDING CATEGORY',
 'BEHAVIOR CODE',
 'AGE/SEX',
 'COUNTRY',
 'COUNTRY CODE',
 'STATE',
 'STATE CODE',
 'COUNTY',
 'COUNTY CODE',
 'IBA CODE',
 'BCR CODE',
 'USFWS CODE',
 'ATLAS BLOCK',
 'LOCALITY',
 'LOCALITY ID',
 'LOCALITY TYPE',
 'LATITUDE',
 'LONGITUDE',
 'OBSERVATION DATE',
 'TIME OBSERVATIONS STARTED',
 'OBSERVER ID',
 'SAMPLING EVENT IDENTIFIER',
 'PROTOCOL TYPE',
 'PROTOCOL CODE',
 'PROJECT CODE',
 'DURATION MINUTES',
 'EFFORT DISTANCE KM',
 'EFFORT AREA HA',
 'NUMBER OBSERVERS',
 'ALL SPECIES REPORTED',
 'GROUP IDENTIFIER',
 'HAS MEDIA',
 'APPROVED',
 'REVIEWED',
 'REASON',
 'TRIP COMMENTS',
 'SPECIES COMMENTS']

In [5]:
df.columns = col_names
df

,GLOBAL UNIQUE IDENTIFIER,LAST EDITED DATE,TAXONOMIC ORDER,CATEGORY,TAXON CONCEPT ID,COMMON NAME,SCIENTIFIC NAME,SUBSPECIES COMMON NAME,SUBSPECIES SCIENTIFIC NAME,EXOTIC CODE,...,EFFORT AREA HA,NUMBER OBSERVERS,ALL SPECIES REPORTED,GROUP IDENTIFIER,HAS MEDIA,APPROVED,REVIEWED,REASON,TRIP COMMENTS,SPECIES COMMENTS
0,URN:CornellLabOfOrnithology:EBIRD:OBS21257524,2022-12-21 15:09:49.594028,505,species,avibase-85625D75,Mallard,Anas platyrhynchos,NaN,NaN,NaN,...,NaN,2.0,0,NaN,0,1,0,NaN,NaN,NaN
1,URN:CornellLabOfOrnithology:EBIRD:OBS21257521,2022-12-21 15:09:49.594028,23564,species,avibase-94A1C447,Bank Swallow,Riparia riparia,NaN,NaN,NaN,...,NaN,2.0,0,NaN,0,1,1,NaN,NaN,Bank Swallow seems a bit late
2,URN:CornellLabOfOrnithology:EBIRD:OBS377845261,2018-05-20 17:56:41,33451,species,avibase-67B455A7,Black-throated Blue Warbler,Setophaga caerulescens,NaN,NaN,NaN,...,NaN,NaN,0,NaN,0,1,1,NaN,NaN,Chase; seen and documented by others
3,URN:CornellLabOfOrnithology:EBIRD:OBS27061959,2018-05-20 17:56:41,20805,species,avibase-EC9E9745,Woodhouse's Scrub-Jay,Aphelocoma woodhouseii,NaN,NaN,NaN,...,NaN,1.0,0,NaN,0,1,0,NaN,NaN,NaN
4,URN:CornellLabOfOrnithology:EBIRD:OBS815681738,2019-10-12 16:30:27,33309,species,avibase-A97F14D0,Virginia's Warbler,Leiothlypis virginiae,NaN,NaN,NaN,...,NaN,1.0,1,NaN,0,1,0,NaN,With Barry Spicer (not a birder). Dry stream w...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,URN:CornellLabOfOrnithology:EBIRD:OBS28062463,2012-10-07 23:48:52,7565,species,avibase-1327AC55,Osprey,Pandion haliaetus,NaN,NaN,NaN,...,NaN,3.0,0,NaN,0,1,0,NaN,NaN,NaN
99996,URN:CornellLabOfOrnithology:EBIRD:OBS28062895,2013-09-11 14:16:52,724,species,avibase-675EEA7F,Ruddy Duck,Oxyura jamaicensis,NaN,NaN,NaN,...,NaN,2.0,1,NaN,0,1,0,NaN,One Forster''s tern with prominent black eye p...,NaN
99997,URN:CornellLabOfOrnithology:EBIRD:OBS28057391,2021-04-01 10:37:20.298005,23704,species,avibase-F5C181CA,Cliff Swallow,Petrochelidon pyrrhonota,NaN,NaN,NaN,...,NaN,2.0,1,NaN,0,1,0,NaN,NaN,NaN
99998,URN:CornellLabOfOrnithology:EBIRD:OBS28056780,2012-10-07 23:48:52,1834,species,avibase-32DCEC14,Eared Grebe,Podiceps nigricollis,NaN,NaN,NaN,...,NaN,2.0,0,NaN,0,1,0,NaN,NaN,NaN
99999,URN:CornellLabOfOrnithology:EBIRD:OBS28062591,2012-10-07 23:48:52,6461,issf,avibase-69E83944,Iceland Gull,Larus glaucoides,Iceland Gull (Thayer's),Larus glaucoides thayeri,NaN,...,NaN,2.0,0,NaN,0,1,1,NaN,Darker first-winter Thayer''s gull in Lion''s ...,NaN

# Quick EDA

## Metadata

### Load my get_metadata function from github

In [6]:
!curl -s -O 'https://raw.githubusercontent.com/brooksburkhead/toolbox/main/functions.py' #load functions from my Data Science 'toolbox'

In [7]:
import functions as fn

In [8]:
md = fn.get_metadata(df)
md

,Data Types,Memory,Rows,Nulls,Null %,count,unique,mode,freq,mean,std,min,25%,median,75%,max
GLOBAL UNIQUE IDENTIFIER,object,10283722,100000,0,0.000,100000,100000,URN:CornellLabOfOrnithology:EBIRD:OBS21257524,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
LAST EDITED DATE,object,8119819,100000,0,0.000,100000,11350,2022-12-23 08:35:31.382878,1748,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TAXONOMIC ORDER,int64,800000,100000,0,0.000,100000,611,NaN,NaN,18012.2871,12361.686064,230.0,6045.0,20571.0,31945.0,35132.0
CATEGORY,object,6386263,100000,0,0.000,100000,8,species,94704,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TAXON CONCEPT ID,object,7300000,100000,0,0.000,100000,611,avibase-00124D98,1819,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COMMON NAME,object,7256388,100000,0,0.000,100000,553,Mourning Dove,1819,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SCIENTIFIC NAME,object,7478066,100000,0,0.000,100000,553,Zenaida macroura,1819,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SUBSPECIES COMMON NAME,object,3432610,100000,95761,95.761,4239,62,Northern Flicker (Red-shafted),877,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SUBSPECIES SCIENTIFIC NAME,object,3435524,100000,95761,95.761,4239,62,Colaptes auratus [cafer Group],877,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EXOTIC CODE,object,3278702,100000,96973,96.973,3027,3,N,2917,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OBSERVATION COUNT,object,5812465,100000,0,0.000,100000,405,X,39048,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BREEDING CODE,object,3238247,100000,98582,98.582,1418,20,F,329,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BREEDING CATEGORY,object,3238286,100000,98582,98.582,1418,4,C4,632,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BEHAVIOR CODE,object,3238247,100000,98582,98.582,1418,20,F,329,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AGE/SEX,object,3296754,100000,98327,98.327,1673,633,"Male, Adult (1)",261,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COUNTRY,object,7000000,100000,0,0.000,100000,1,United States,100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COUNTRY CODE,object,5900000,100000,0,0.000,100000,1,US,100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STATE,object,6699954,100000,0,0.000,100000,3,New Mexico,99988,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STATE CODE,object,6200000,100000,0,0.000,100000,3,US-NM,99988,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COUNTY,object,6462034,100000,0,0.000,100000,35,Bernalillo,25978,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COUNTY CODE,object,6600000,100000,0,0.000,100000,35,US-NM-001,25978,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IBA CODE,object,5079997,100000,44746,44.746,55254,46,US-NM_602,21486,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BCR CODE,int64,800000,100000,0,0.000,100000,4,NaN,NaN,24.8366,9.266147,16.0,16.0,18.0,35.0,35.0
USFWS CODE,object,4052855,100000,74916,74.916,25084,8,USFWS_662,18087,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ATLAS BLOCK,float64,800000,100000,100000,100.000,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
LOCALITY,object,8274350,100000,0,0.000,100000,3342,Rio Grande Nature Center SP,21403,NaN,NaN,NaN,NaN,NaN,NaN,NaN
LOCALITY ID,object,6421177,100000,0,0.000,100000,3647,L196306,21403,NaN,NaN,NaN,NaN,NaN,NaN,NaN
LOCALITY TYPE,object,5800001,100000,0,0.000,100000,4,H,75024,NaN,NaN,NaN,NaN,NaN,NaN,NaN
LATITUDE,float64,800000,100000,0,0.000,100000,3631,NaN,NaN,34.277356,1.322964,31.35,33.451209,34.412531,35.13,36.999241
LONGITUDE,float64,800000,100000,0,0.000,100000,3629,NaN,NaN,-106.51456,1.264958,-109.476579,-106.88,-106.683,-105.970622,-103.002904
OBSERVATION DATE,object,6700000,100000,0,0.000,100000,5353,1996-05-05,222,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TIME OBSERVATIONS STARTED,object,5372687,100000,34161,34.161,65839,476,07:00:00,5405,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OBSERVER ID,object,6630077,100000,0,0.000,100000,1337,obsr7093,15249,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SAMPLING EVENT IDENTIFIER,object,6576418,100000,0,0.000,100000,16663,S131612825,53,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PROTOCOL TYPE,object,6630547,100000,0,0.000,100000,7,Traveling,31909,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PROTOCOL CODE,object,6000000,100000,0,0.000,100000,7,P22,31909,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PROJECT CODE,object,6204870,100000,0,0.000,100000,15,EBIRD,98680,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DURATION MINUTES,float64,800000,100000,41375,41.375,58625,241,NaN,NaN,261.249211,145.468899,1.0,143.0,270.0,372.0,1440.0
EFFORT DISTANCE KM,float64,800000,100000,67097,67.097,32903,164,NaN,NaN,8.291407,10.357827,0.0,2.414,4.828,9.656,80.467
EFFORT AREA HA,float64,800000,100000,94780,94.780,5220,60,NaN,NaN,140.247721,1561.751106,0.0,9.1,18.0,55.0,23201.033
NUMBER OBSERVERS,float64,800000,100000,10099,10.099,89901,26,NaN,NaN,2.905607,2.761089,0.0,1.0,2.0,4.0,100.0
ALL SPECIES REPORTED,int64,800000,100000,0,0.000,100000,2,NaN,NaN,0.83546,0.370767,0.0,1.0,1.0,1.0,1.0
GROUP IDENTIFIER,object,4143680,100000,71371,71.371,28629,1725,G9868556,97,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HAS MEDIA,int64,800000,100000,0,0.000,100000,2,NaN,NaN,0.00115,0.033892,0.0,0.0,0.0,0.0,1.0
APPROVED,int64,800000,100000,0,0.000,100000,1,NaN,NaN,1.0,0.0,1.0,1.0,1.0,1.0,1.0
REVIEWED,int64,800000,100000,0,0.000,100000,2,NaN,NaN,0.02615,0.159582,0.0,0.0,0.0,0.0,1.0
REASON,float64,800000,100000,100000,100.000,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TRIP COMMENTS,object,7903126,100000,68129,68.129,31871,2912,With Alan Craig,602,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SPECIES COMMENTS,object,3776785,100000,92011,92.011,7989,3912,/b,2194,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Right off the bat there are things that need to be changed:
- Some `dtypes` need to be changed (eg. observation count should be `int` not object)
- This data should just be observations in New Mexico, however there are 3 unique entries in 'STATE' column, should only be one.

## How Many?

### How Many Columns?

In [9]:
df.shape[1]

49

#### How many Identifier columns?

In [10]:
fn.id_columns_identify(md) #function that identifies potential ID columns

,mode,mean,std
GLOBAL UNIQUE IDENTIFIER,URN:CornellLabOfOrnithology:EBIRD:OBS21257524,NaN,NaN
LAST EDITED DATE,2022-12-23 08:35:31.382878,NaN,NaN
TAXONOMIC ORDER,NaN,18012.2871,12361.686064
CATEGORY,species,NaN,NaN
TAXON CONCEPT ID,avibase-00124D98,NaN,NaN

In [11]:
fn.id_columns_identify(md).index

Index(['GLOBAL UNIQUE IDENTIFIER', 'LAST EDITED DATE', 'TAXONOMIC ORDER',
       'CATEGORY', 'TAXON CONCEPT ID'],
      dtype='object')

In [12]:
fn.get_metadata(df[fn.id_columns_identify(md).index])

,Data Types,Memory,Rows,Nulls,Null %,count,unique,mode,freq,mean,std,min,25%,median,75%,max
GLOBAL UNIQUE IDENTIFIER,object,10283722,100000,0,0.0,100000,100000,URN:CornellLabOfOrnithology:EBIRD:OBS21257524,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
LAST EDITED DATE,object,8119819,100000,0,0.0,100000,11350,2022-12-23 08:35:31.382878,1748,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TAXONOMIC ORDER,int64,800000,100000,0,0.0,100000,611,NaN,NaN,18012.2871,12361.686064,230.0,6045.0,20571.0,31945.0,35132.0
CATEGORY,object,6386263,100000,0,0.0,100000,8,species,94704,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TAXON CONCEPT ID,object,7300000,100000,0,0.0,100000,611,avibase-00124D98,1819,NaN,NaN,NaN,NaN,NaN,NaN,NaN

One ID Column (Global Unique Identifier)

#### How many Categorical Columns?

In [13]:
fn.find_binary_columns(df)

Empty DataFrame
Columns: [Data Types, Memory, Rows, Nulls, Null %, count, unique, mode, freq, mean, std, min, 25%, median, 75%, max]
Index: []

In [14]:
fn.find_unary_columns(df)

,Data Types,Memory,Rows,Nulls,Null %,count,unique,mode,freq,mean,std,min,25%,median,75%,max
COUNTRY,object,7000000,100000,0,0.0,100000,1,United States,100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COUNTRY CODE,object,5900000,100000,0,0.0,100000,1,US,100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
APPROVED,int64,800000,100000,0,0.0,100000,1,NaN,NaN,1.0,0.0,1.0,1.0,1.0,1.0,1.0

In [15]:
df.dtypes

GLOBAL UNIQUE IDENTIFIER       object
LAST EDITED DATE               object
TAXONOMIC ORDER                 int64
CATEGORY                       object
TAXON CONCEPT ID               object
COMMON NAME                    object
SCIENTIFIC NAME                object
SUBSPECIES COMMON NAME         object
SUBSPECIES SCIENTIFIC NAME     object
EXOTIC CODE                    object
OBSERVATION COUNT              object
BREEDING CODE                  object
BREEDING CATEGORY              object
BEHAVIOR CODE                  object
AGE/SEX                        object
COUNTRY                        object
COUNTRY CODE                   object
STATE                          object
STATE CODE                     object
COUNTY                         object
COUNTY CODE                    object
IBA CODE                       object
BCR CODE                        int64
USFWS CODE                     object
ATLAS BLOCK                   float64
LOCALITY                       object
LOCALITY ID                    object
LOCALITY TYPE                  object
LATITUDE                      float64
LONGITUDE                     float64
OBSERVATION DATE               object
TIME OBSERVATIONS STARTED      object
OBSERVER ID                    object
SAMPLING EVENT IDENTIFIER      object
PROTOCOL TYPE                  object
PROTOCOL CODE                  object
PROJECT CODE                   object
DURATION MINUTES              float64
EFFORT DISTANCE KM            float64
EFFORT AREA HA                float64
NUMBER OBSERVERS              float64
ALL SPECIES REPORTED            int64
GROUP IDENTIFIER               object
HAS MEDIA                       int64
APPROVED                        int64
REVIEWED                        int64
REASON                        float64
TRIP COMMENTS                  object
SPECIES COMMENTS               object
dtype: object

In [16]:
num_filter = (df.dtypes == 'float64') | (df.dtypes == 'int64')
num_filter

GLOBAL UNIQUE IDENTIFIER      False
LAST EDITED DATE              False
TAXONOMIC ORDER                True
CATEGORY                      False
TAXON CONCEPT ID              False
COMMON NAME                   False
SCIENTIFIC NAME               False
SUBSPECIES COMMON NAME        False
SUBSPECIES SCIENTIFIC NAME    False
EXOTIC CODE                   False
OBSERVATION COUNT             False
BREEDING CODE                 False
BREEDING CATEGORY             False
BEHAVIOR CODE                 False
AGE/SEX                       False
COUNTRY                       False
COUNTRY CODE                  False
STATE                         False
STATE CODE                    False
COUNTY                        False
COUNTY CODE                   False
IBA CODE                      False
BCR CODE                       True
USFWS CODE                    False
ATLAS BLOCK                    True
LOCALITY                      False
LOCALITY ID                   False
LOCALITY TYPE                 False
LATITUDE                       True
LONGITUDE                      True
OBSERVATION DATE              False
TIME OBSERVATIONS STARTED     False
OBSERVER ID                   False
SAMPLING EVENT IDENTIFIER     False
PROTOCOL TYPE                 False
PROTOCOL CODE                 False
PROJECT CODE                  False
DURATION MINUTES               True
EFFORT DISTANCE KM             True
EFFORT AREA HA                 True
NUMBER OBSERVERS               True
ALL SPECIES REPORTED           True
GROUP IDENTIFIER              False
HAS MEDIA                      True
APPROVED                       True
REVIEWED                       True
REASON                         True
TRIP COMMENTS                 False
SPECIES COMMENTS              False
dtype: bool

### How many rows?

In [17]:
df.shape[0]

100000

# Data Cleaning

##Change column dtypes to appropriate dtypes

Columns to change:
- LAST EDITED DATE (obj -> datetime)
- OBSERVATION COUNT (obj - int)
- OBSERVATION DATE (obj -> datetime)
- TIME OBSERVATION STARTED (obj -> time)

In [18]:
df_clean = df.copy()

In [19]:
#change X's in OBSERVATION COUNT to 1's
df_clean['OBSERVATION COUNT'].replace(to_replace=dict(X=1), inplace=True)

In [20]:
df_clean = df_clean.astype({'OBSERVATION COUNT':'int'})

In [21]:
df_clean['LAST EDITED DATE'] = pd.to_datetime(df_clean['LAST EDITED DATE'])
df_clean['OBSERVATION DATE'] = pd.to_datetime(df_clean['OBSERVATION DATE'])
df_clean['TIME OBSERVATIONS STARTED'] = pd.to_datetime(df_clean['TIME OBSERVATIONS STARTED'])

In [22]:
df_clean.dtypes

GLOBAL UNIQUE IDENTIFIER              object
LAST EDITED DATE              datetime64[ns]
TAXONOMIC ORDER                        int64
CATEGORY                              object
TAXON CONCEPT ID                      object
COMMON NAME                           object
SCIENTIFIC NAME                       object
SUBSPECIES COMMON NAME                object
SUBSPECIES SCIENTIFIC NAME            object
EXOTIC CODE                           object
OBSERVATION COUNT                      int64
BREEDING CODE                         object
BREEDING CATEGORY                     object
BEHAVIOR CODE                         object
AGE/SEX                               object
COUNTRY                               object
COUNTRY CODE                          object
STATE                                 object
STATE CODE                            object
COUNTY                                object
COUNTY CODE                           object
IBA CODE                              object
BCR CODE                               int64
USFWS CODE                            object
ATLAS BLOCK                          float64
LOCALITY                              object
LOCALITY ID                           object
LOCALITY TYPE                         object
LATITUDE                             float64
LONGITUDE                            float64
OBSERVATION DATE              datetime64[ns]
TIME OBSERVATIONS STARTED     datetime64[ns]
OBSERVER ID                           object
SAMPLING EVENT IDENTIFIER             object
PROTOCOL TYPE                         object
PROTOCOL CODE                         object
PROJECT CODE                          object
DURATION MINUTES                     float64
EFFORT DISTANCE KM                   float64
EFFORT AREA HA                       float64
NUMBER OBSERVERS                     float64
ALL SPECIES REPORTED                   int64
GROUP IDENTIFIER                      object
HAS MEDIA                              int64
APPROVED                               int64
REVIEWED                               int64
REASON                               float64
TRIP COMMENTS                         object
SPECIES COMMENTS                      object
dtype: object

## Clean out the states that are not New Mexico

In [23]:
df_clean['STATE'].value_counts()

New Mexico    99988
Arizona           7
Texas             5
Name: STATE, dtype: int64

In [24]:
filter = df_clean['STATE CODE'] != 'US-NM'

In [25]:
df_clean.drop(index = df_clean[filter].index, inplace = True )

In [26]:
df_clean.shape

(99988, 49)

## Turn our normal dataframe to a geopandas dataframe

In [28]:
gdf = gpd.GeoDataFrame(
    df_clean, geometry=gpd.points_from_xy(df_clean.LONGITUDE, df_clean.LATITUDE), crs="EPSG:4326"
)

In [29]:
gdf.geometry

0        POINT (-103.49353 35.34257)
1        POINT (-103.49353 35.34257)
2        POINT (-106.62034 35.08438)
3        POINT (-106.62034 35.08438)
4        POINT (-108.89396 33.61895)
                    ...
99995    POINT (-107.20731 33.25424)
99996    POINT (-107.20731 33.25424)
99997    POINT (-107.20731 33.25424)
99998    POINT (-107.20731 33.25424)
99999    POINT (-107.20731 33.25424)
Name: geometry, Length: 99988, dtype: geometry

## Deal with nulls

### Drop columns that are mostly null ( > 60% )

In [20]:
cols_to_drop = fn.null_columns_identify(gdf, threshold= 60).index

/content/functions.py:12: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  metadata_df = pd.concat([metadata_df, df.describe(include = 'all').transpose().astype({"count" : "int"})], axis = 'columns').rename(columns = {"top" : "mode", "50%" : "median"})
/content/functions.py:12: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  metadata_df = pd.concat([metadata_df, df.describe(include = 'all').transpose().astype({"count" : "int"})], axis = 'columns').rename(columns = {"top" : "mode", "50%" : "median"})
/content/functions.py:12: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  metadata_df = pd.concat([metadata_df, df.describe(include = 'all').transpose().astype({"count" : "int"})], axis = 'columns').rename(columns = {"top" : "mode", "50%" : "median"})

In [21]:
fn.null_columns_drop(cols = cols_to_drop, df = gdf)

In [22]:
fn.get_metadata(gdf)

/content/functions.py:12: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  metadata_df = pd.concat([metadata_df, df.describe(include = 'all').transpose().astype({"count" : "int"})], axis = 'columns').rename(columns = {"top" : "mode", "50%" : "median"})
/content/functions.py:12: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  metadata_df = pd.concat([metadata_df, df.describe(include = 'all').transpose().astype({"count" : "int"})], axis = 'columns').rename(columns = {"top" : "mode", "50%" : "median"})
/content/functions.py:12: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  metadata_df = pd.concat([metadata_df, df.describe(include = 'all').transpose().astype({"count" : "int"})], axis = 'columns').rename(columns = {"top" : "mode", "50%" : "median"})

,Data Types,Memory,Rows,Nulls,Null %,count,unique,mode,freq,first,last,mean,std,min,25%,median,75%,max
GLOBAL UNIQUE IDENTIFIER,object,10282479,99988,0,0.000000,99988,99988,URN:CornellLabOfOrnithology:EBIRD:OBS21257524,1,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
LAST EDITED DATE,datetime64[ns],799904,99988,0,0.000000,99988,11347,2022-12-23 08:35:31.382878,1748,2002-05-31 22:42:05,2023-10-11 11:20:46.409943,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TAXONOMIC ORDER,int64,799904,99988,0,0.000000,99988,611,NaN,NaN,NaT,NaT,18012.089751,12361.498392,230.0,6045.0,20571.0,31945.0,35132.0
CATEGORY,object,6385495,99988,0,0.000000,99988,8,species,94692,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TAXON CONCEPT ID,object,7299124,99988,0,0.000000,99988,611,avibase-00124D98,1818,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COMMON NAME,object,7255534,99988,0,0.000000,99988,553,Mourning Dove,1818,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SCIENTIFIC NAME,object,7477178,99988,0,0.000000,99988,553,Zenaida macroura,1818,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OBSERVATION COUNT,int64,799904,99988,0,0.000000,99988,404,NaN,NaN,NaT,NaT,12.368364,229.084621,1.0,1.0,1.0,3.0,30000.0
COUNTRY,object,6999160,99988,0,0.000000,99988,1,United States,99988,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COUNTRY CODE,object,5899292,99988,0,0.000000,99988,1,US,99988,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STATE,object,6699196,99988,0,0.000000,99988,1,New Mexico,99988,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STATE CODE,object,6199256,99988,0,0.000000,99988,1,US-NM,99988,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COUNTY,object,6461266,99988,0,0.000000,99988,33,Bernalillo,25978,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COUNTY CODE,object,6599208,99988,0,0.000000,99988,33,US-NM-001,25978,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IBA CODE,object,5079613,99988,44734,44.739369,55254,46,US-NM_602,21486,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BCR CODE,int64,799904,99988,0,0.000000,99988,4,NaN,NaN,NaT,NaT,24.83545,9.266107,16.0,16.0,18.0,35.0,35.0
LOCALITY,object,8367269,99988,0,0.000000,99988,3340,Rio Grande Nature Center SP,21403,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
LOCALITY ID,object,6420385,99988,0,0.000000,99988,3645,L196306,21403,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
LOCALITY TYPE,object,5799305,99988,0,0.000000,99988,4,H,75024,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
LATITUDE,float64,799904,99988,0,0.000000,99988,3629,NaN,NaN,NaT,NaT,34.277672,1.322725,31.35,33.451209,34.412531,35.13,36.999241
LONGITUDE,float64,799904,99988,0,0.000000,99988,3627,NaN,NaN,NaT,NaT,-106.514352,1.264791,-109.049016,-106.88,-106.683,-105.970622,-103.002904
OBSERVATION DATE,datetime64[ns],799904,99988,0,0.000000,99988,5352,1996-05-05 00:00:00,222,1856-03-24 00:00:00,1999-12-31 00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TIME OBSERVATIONS STARTED,datetime64[ns],799904,99988,34156,34.160099,65832,476,2023-11-27 07:00:00,5405,2023-11-27 00:00:00,2023-11-27 23:30:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OBSERVER ID,object,6629276,99988,0,0.000000,99988,1337,obsr7093,15249,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SAMPLING EVENT IDENTIFIER,object,6575619,99988,0,0.000000,99988,16659,S131612825,53,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PROTOCOL TYPE,object,6629743,99988,0,0.000000,99988,7,Traveling,31909,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PROTOCOL CODE,object,5999280,99988,0,0.000000,99988,7,P22,31909,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PROJECT CODE,object,6204098,99988,0,0.000000,99988,15,EBIRD,98675,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DURATION MINUTES,float64,799904,99988,41370,41.374965,58618,241,NaN,NaN,NaT,NaT,261.273244,145.460958,1.0,145.0,270.0,372.0,1440.0
NUMBER OBSERVERS,float64,799904,99988,10099,10.100212,89889,26,NaN,NaN,NaT,NaT,2.905439,2.761212,0.0,1.0,2.0,4.0,100.0
ALL SPECIES REPORTED,int64,799904,99988,0,0.000000,99988,2,NaN,NaN,NaT,NaT,0.83549,0.370739,0.0,1.0,1.0,1.0,1.0
HAS MEDIA,int64,799904,99988,0,0.000000,99988,2,NaN,NaN,NaT,NaT,0.00115,0.033894,0.0,0.0,0.0,0.0,1.0
APPROVED,int64,799904,99988,0,0.000000,99988,1,NaN,NaN,NaT,NaT,1.0,0.0,1.0,1.0,1.0,1.0,1.0
REVIEWED,int64,799904,99988,0,0.000000,99988,2,NaN,NaN,NaT,NaT,0.026153,0.159591,0.0,0.0,0.0,0.0,1.0
geometry,geometry,799904,99988,0,0.000000,99988,3641,POINT (-106.683 35.13),21403,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN